@use 'sass:list';

$dashes: ('', '-', '--', '---', '----', '-----', '------');
@each $d in $dashes {
  $i: list.index($dashes, $d) - 1;
  .m#{$i}, .m#{$d} { margin: var(--spacing-#{$i}); }
  .mx#{$i}, .mx#{$d} { margin-left: var(--spacing-#{$i}); margin-right: var(--spacing-#{$i}); }
  .my#{$i}, .my#{$d} { margin-top: var(--spacing-#{$i}); margin-bottom: var(--spacing-#{$i}); }
  .ml#{$i}, .ml#{$d} { margin-left: var(--spacing-#{$i}); }
  .mr#{$i}, .mr#{$d} { margin-right: var(--spacing-#{$i}); }
  .mt#{$i}, .mt#{$d} { margin-top: var(--spacing-#{$i}); }
  .mb#{$i}, .mb#{$d} { margin-bottom: var(--spacing-#{$i}); }

  .p#{$i}, .p#{$d} { padding: var(--spacing-#{$i}); }
  .px#{$i}, .px#{$d} { padding-left: var(--spacing-#{$i}); padding-right: var(--spacing-#{$i}); }
  .py#{$i}, .py#{$d} { padding-top: var(--spacing-#{$i}); padding-bottom: var(--spacing-#{$i}); }
  .pl#{$i}, .pl#{$d} { padding-left: var(--spacing-#{$i}); }
  .pr#{$i}, .pr#{$d} { padding-right: var(--spacing-#{$i}); }
  .pt#{$i}, .pt#{$d} { padding-top: var(--spacing-#{$i}); }
  .pb#{$i}, .pb#{$d} { padding-bottom: var(--spacing-#{$i}); }

  .row-gap#{$i}, .row-gap#{$d} { row-gap: var(--spacing-#{$i}); }
  .col-gap#{$i}, .col-gap#{$d} { column-gap: var(--spacing-#{$i}); }
}

.m-a { margin: auto; }
.mx-a { margin-left: auto; margin-right: auto; }
.my-a { margin-top: auto; margin-bottom: auto; }
.ml-a { margin-left: auto; }
.mr-a { margin-right: auto; }
.mt-a { margin-top: auto; }
.mb-a { margin-bottom: auto; }

.w-full { width: 100%; }
.w-twothirds { width: 66%; }
.w-narrow { width: 60%; }
.w-half { width: 50%; }
.w-third { width: 33%; }
.w-quarter { width: 25%; }
.w-fit { width: fit-content; }

.w-12 { width: 100%; }
.w-11 { width: 91.66%; }
.w-10 { width: 83.33%; }
.w-9  { width: 75%; }
.w-8  { width: 66.66%; }
.w-7  { width: 58.33%; }
.w-6  { width: 50%; }
.w-5  { width: 41.66%; }
.w-4  { width: 33.33%; }
.w-3  { width: 25%; }
.w-2  { width: 16.66%; }
.w-1  { width: 8.33%; }

.w-0px { width: 0px; }
.w-1px { width: 1px; }
.w-2px { width: 2px; }
.w-4px { width: 4px; }
.w-8px { width: 8px; }
.w-16px { width: 16px; }
.w-24px { width: 24px; }
.w-32px { width: 32px; }
.w-64px { width: 64px; }
.w-128px { width: 128px; }
.w-256px { width: 256px; }
.w-512px { width: 512px; }
.h-0px { height: 0px; }
.h-1px { height: 1px; }
.h-2px { height: 2px; }
.h-4px { height: 4px; }
.h-8px { height: 8px; }
.h-16px { height: 16px; }
.h-24px { height: 24px; }
.h-32px { height: 32px; }
.h-64px { height: 64px; }
.h-128px { height: 128px; }
.h-256px { height: 256px; }
.h-512px { height: 512px; }

.h-full { height: 100%; }

.cols-2 { column-count: 2; }
.cols-3 { column-count: 3; }
.cols-4 { column-count: 4; }
.cols-5 { column-count: 5; }
.cols-6 { column-count: 6; }
.cols-7 { column-count: 7; }
.cols-8 { column-count: 8; }
.cols-9 { column-count: 9; }
.cols-10 { column-count: 10; }
.cols-11 { column-count: 11; }
.cols-12 { column-count: 12; }
